{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <table class="table">
        <body>
            <h1>{{ post.titre }}</h1>
            <p>{{ post.contenu }}</p>
            <em>Auteur : {{ post.auteur }}</em>
        </body>
    </table>

    <a href="{{ path('post_index') }}">voir tous les articles</a>
{% endblock %}
